<!DOCTYPE html>
<html>
  <head>
    <title>HeartVibes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="chart">
    <main class="container mx-auto mt-28 px-5 flex flex-row space-x-4">
      <%= yield %>
    </main>

    <div class="absolute right-1/2 bottom-1/2 transform translate-x-1/2 translate-y-1/2 hidden"
         data-chart-target="loading">
      <div class="border-t-transparent border-solid animate-spin  rounded-full border-blue-400 border-8 h-64 w-64"></div>
    </div>
  </body>
</html>
